#top-main {
  display: flex;
  flex-direction: row;
  margin: 2.2em;
  margin-top: 6.2em;
  padding: 3em 4em;
  background-color: #e3fcea;
}

#self-photo {
  width: 15em;
  height: 15em;
  margin-right: 3em;
  margin-top: auto;
  margin-bottom: auto;
}

.about-info {
  width: 100%;
  max-width: 1100px;
  margin: 1em auto 0 1em;
}

#name {
  color: #e8c8ab;
  font-weight: 700;
  font-style: italic;
  font-size: 5em;
  position: absolute;
  margin: 0;
  top: .5em;
  left: .8em;
}

#title {
  font-size: 2.1em;
  font-style: italic;
  color: #3d3a39;
  max-width: 500px;
}

#about {
  color: #3d3a39;
  font-size: 1.2em;
}

.title-line {
  display: inline-block;
}

.full-stack {
  margin-right: .3em;
}

.line {
  height: .2em;
  background-color: #fcf571;
  clear: both;
  margin-top: 2em;
}

/********************************************
WHEN SCREEN IS SMALLER THAN 1000px
********************************************/

@media (max-width: 1000px) {
  #top-main {
    flex-direction: column;
  }

  #self-photo {
    width: 21em;
    height: 21em;
    margin: auto;
  }

  #title {
    margin-left: auto;
    margin-right: auto;
  }

  .about-info {
    max-width: 600px;
    margin: .5em auto 0 auto;
  }
}

/********************************************
WHEN SCREEN IS SMALLER THAN 450px
********************************************/

@media (max-width: 520px) {
  #top-main {
    margin-top: 4.9em;
    padding: 2em 2em;
  }

  #name {
    font-size: 4em;
  }

  #self-photo {
    width: 18em;
    height: 18em;
    margin: 3em auto 0 auto;
  }

}
/********************************************
FADE UP
********************************************/

/* Animation */

@keyframes fadeUp {
    from {
        transform: translate3d(0,10px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeUp {
    from {
        transform: translate3d(0,10px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeUp {
    opacity: 0
}

.fadeUp {
    opacity: 0;
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
}
