#footer {
  height: .7em;
  /*background-color: #e3fcea;*/
  /*background-image: url("./tropicalprint.jpg");*/
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  padding: 1.5em;
  letter-spacing: 1.5px;
}
