#last {
  /*color: #fff;*/
  background-color: #e3fcea;
  text-align: center;
  padding: 1em 0em 2em 0em;
  /*height: 250px;*/
  /*font-size: 1.5em;*/
  letter-spacing: 2px;
  /*color: white;*/
}

.contact-headline {
  font-size: 2em;
  font-style: italic;
}

#email {
  color: #3d3a39;
  font-style: italic;
  font-weight: bold;
}

#email:hover {
  color: #969e98;
}

.contact-text > * {
  font-size: 1.2em;
}

.bar {
  height: 5px;
  background-color: #79f7cf;
}
