.top-icons {
  position: absolute;
  right: 5em;
  margin-top: 1.8em;
}

.small-icons {
  margin: 0em .5em;
  height: 1.8em;
  border-radius: .3em;
}

.overlay:hover {
  background-color: #e3fcea;
  cursor: pointer;
  opacity: 0.50;
  -moz-opacity: 50%;
  -webkit-opacity: 50%;
  z-index: 2;
}

.overlay-two:hover {
  background-color: #e3fcea;
  cursor: pointer;
  opacity: 0.50;
  -moz-opacity: 50%;
  -webkit-opacity: 50%;
  z-index: 2;
}

.icons {
  margin: .5em 1em 1.5em 1em;
  border-radius: .3em;
  height: 2.5em;
}
