.image-block {
  padding: 1em 6em 5em 6em;
  background-image: url("./tropicalprint.jpg");
  /*height: 500px;*/
}

.fixed-background {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

#skills-header {
  text-align: center;
  letter-spacing: 2px;
  font-size: 45px;
  font-style: italic;
  color: #fff;
}

#skills {
  background-color: #fcfbf9;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /*justify-content: center;*/
  width: 100%
}

#skills > div {
  flex: 1;
  text-align: center;
  margin: 1em 1em 3em 1em;
  /*justify-content: center;*/
}

.skills-title {
  font-size: 27px;
}

/********************************************
  WHEN SCREEN IS SMALLER THAN 950px
********************************************/

@media (max-width: 950px) {
  #skills {
    flex-direction: column !important;
  }
}
