.image-block {
  padding: .5em 6em 4em 6em;
}

#skills-header {
  text-align: center;
  letter-spacing: 2px;
  font-size: 3em;
  font-style: italic;
  color: #fff;
}

#skills {
  background-color: #fcfbf9;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#skills > div {
  flex: 1;
  text-align: center;
  margin: 1em 1em 3em 1em;
}

.skills-title {
  font-size: 1.8em;
}

/********************************************
  WHEN SCREEN IS SMALLER THAN 950px
********************************************/

@media (max-width: 950px) {
  #skills {
    flex-direction: column !important;
    max-width: 28em;
    margin: auto;
    padding-bottom: 1em;
  }
  #skills > div {
    margin-bottom: 1em;
  }
}
